.container {
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 100px auto 50px;
	grid-template-areas:
			"header"
			"main"
			"footer";
	margin: auto;
	max-width: 1100px;
	background-color: white;
}

.site-header {
	grid-area: header;
	padding-bottom: 5px;
	border-bottom: 5px solid black;
	font-family: 'Archivo Narrow', sans-serif;
	background-color: black;
	color: white;
}

.site-main {
	grid-area: main;
	font-family: 'Nunito', sans-serif;
	max-width: 1020px;
	margin: auto;
}

.site-footer {
	grid-area: footer;
	background-color: black;
	color: white;
	font: 12px/20px "Avenir Next", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.post {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
			"shoe1 shoe2 shoe3 shoe4";
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}

.shoe1 {
	grid-area: shoe1;
	margin: 10px;

}

.shoe2 {
	grid-area: shoe2;
	margin: 10px;
}

.shoe3 {
	grid-area: shoe3;
	margin: 10px;
}

.shoe4 {
	grid-area: shoe4;
	margin: 10px;
}

.postshoe {
	display: grid;
	grid-template-rows: 230px 100px;
	grid-template-areas:
			"pic"
			"name";
	max-width: 240px;
}

.pic {
	grid-area: pic;
}

.name {
	grid-area: name;
	color: black;
}
h4 {
	margin: 1px;
	font-family: 'Antic', sans-serif;
}

h5 {
	margin: 1px;
	font-weight: lighter;
	font-family: 'Antic', sans-serif;
}

nav {
	padding-left: 0;
	margin-bottom: 0;

	list-style: none;
	float:right;
	display:inline;
}

nav ul {
	list-style-type: none;
	margin: 0 auto;
}

nav ul > li {
	position: relative;
	display: inline-block;
	list-style-type: none;
	color: #222;
	padding: 0 1rem;
}

nav li > a {
	position: relative;
	display: block;
	padding: 5px 5px;
	margin-top: 30px;
	color: white;
	font-size: 20px;
}
html {
	background-color: whitesmoke;
}
.pagination {
	text-align: center;
	margin: 30px auto;
	color: #888;
}

.pagination a {
	padding: 0 5px
}
.show {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto ;
	grid-template-areas:
			"sidebar content";
	background-color: white;
}
.show-sidebar {
	grid-area: sidebar;
	padding-left: 40px;
	padding-bottom: 40px;
	margin-top: 10px;
}
.show-content {
	padding-left: 20px;
	grid-area: content;
	padding-right: 20px;
}

h2 {
	margin-bottom: 0;
}


div  h4 {
	font-weight: lighter;
	margin-bottom: 10px;
}

div p h4 {
	border-bottom: 5px solid black;
}

.btn {
	border: none;
	background-color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	color: white;

}
/* On mouse-over */
.btn:hover {background-color: #413d3d;

;}

.postshoe:hover {
	border: 1px solid #1f1d1d;
}

main a:link{
	 color: black;
	 text-underline: none;
	 text-decoration-line: none;
 }
main a:visited{
	color: black;
	text-underline: none;
	text-decoration-line: none;
}

.show-center{
	text-align: center;
}


header a:link{
	color: white;
	text-underline: none;
	text-decoration-line: none;
}
header a:visited{
	color: white;
	text-underline: none;
	text-decoration-line: none;
}

header a img{
	padding-left: 10px;
	padding-top: 10px;
}
header a:hover{
	color: gold;
	text-underline: none;
	text-decoration-line: none;
}
.btn-n {
	border: none;
	background-color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	color: white;

}
.btn-n a:link{
	color: white;
	text-underline: none;
	text-decoration-line: none;
}


.btn-n a:visited{
	color: white;
	text-underline: none;
	text-decoration-line: none;
}

.footer_copyright {
	color: #999999;
	font: 12px/20px "Avenir Next", "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 10px 0;
	text-align: center;
}

.footer_copyright a {
	color: #cccccc;
}

.fa {
	padding: 15px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 10px;
}
/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;
}

.footer_text {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto ;
	grid-template-areas:
			"share student";
	padding-top: 20px;
	margin: auto;
	width: 720px;
	text-align: center;

}

.share{
	grid-area: share;
	padding-left: 40px;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-right: 1px solid #4F5155 ;
}
.student{
	grid-area: student;
	padding-left: 40px;
	padding-bottom: 40px;
	margin-top: 30px;
	padding-top: 20px;
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.5em;
}

