<div class="container-register">
    <div class="site-header">
        <div class="site-logo">
            <%= link_to image_tag("logo.png",width:'250',height:'70'), home_path  %>
        </div>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <% if current_user %>
        <% else %>
        <div class="site-nav-3">
            <%= link_to "Sign Up", signup_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "Log In", login_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "About" , about_path %>
        </div>
        <% end %>
        <% if current_user%>
        <% if current_user.email == 'admin'%>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <div class="site-nav-3">
            <%= link_to "About" , about_path %>
        </div>
        <div class="site-nav-4">
             <%= link_to "Edit", edit_user_path(current_user) %>
        </div>
        <div class="site-nav-5">
            <%= link_to "Admin Order", orders_path %>
        </div>
        <div class="site-nav-6">
            <%= link_to "Log Out", logout_path %>
        </div>
        <% else %>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <div class="site-nav-3">
            <%= link_to "About" , about_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "User Order", userorder_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "Edit", edit_user_path(current_user) %>
        </div>
        <div class="site-nav-6">
            <%= link_to "Log Out", logout_path %>
        </div>
        <% end %>
        <% end %>
    </div>
    <div class="site-register">
        <div>
            <%= form_with(model: user, local: true) do |form| %>
            <% if user.errors.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                    <% user.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
                </ul>
            </div>
            <% end %>
            <center>
                <h1>Editing User</h1>
                <div class="field">
                    <%= form.label :email %>
                    <%= form.text_field :email %>
                </div>
                <div class="field">
                    <%= form.label :password %>
                    <%= form.password_field :password %>
                </div>
                <div class="field">
                    <%= form.label :Password_Confirmation %>
                    <%= form.password_field :Password_Confirmation %>
                </div>
                <div class="actions">
                    <%=  form.submit %>
                </div>
                <% end %>
                <center>
        </div>
    </div>
    <div class="site-login-footer">
        <p style="text-align: center">&copy; <b>2019 - CN340 SOFTWARE ENGINEERING</b></p>
    </div>
</div>