<div class="container-about">
    <div class="site-header">
        <div class="site-logo">
            <%= link_to image_tag("logo.png",width:'250',height:'70'), home_path  %>
        </div>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <% if current_user %>
        <% else %>
        <div class="site-nav-3">
            <%= link_to "Sign Up", signup_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "Log In", login_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "About" , about_path %>
        </div>
        <% end %>
        <% if current_user%>
        <% if current_user.email == 'admin'%>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <div class="site-nav-3">
            <%= link_to "About" , about_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "Edit", login_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "Admin Order", orders_path %>
        </div>
        <div class="site-nav-6">
            <%= link_to "Log Out", logout_path %>
        </div>
        <% else %>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <div class="site-nav-3">
            <%= link_to "About" , about_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "User Order", userorder_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "Edit", edit_user_path(current_user) %>
        </div>
        <div class="site-nav-6">
            <%= link_to "Log Out", logout_path %>
        </div>
        <% end %>
        <% end %>
    </div>
    <div class="site-about link-color">
        <div>
            <header>
                <p style="font-size:2em;text-align: center;color:orange">Team Member</p>
            </header>
            <article>
                <p style="text-align: center;"><b>Auttaphol Thongvicit 5810613256</b></p>
                <p style="text-align: center;"><b>Tuchdech Jirabunyadech 5910613248</b></p>
                <p style="text-align: center;"><b>Boonyanut Puingyamsual 5910613305</b></p>
                <p style="text-align: center;"><b>Kittikun Kittithammo 5910613321</b></p>
            </article>
        </div>
        <div>
            <header>
                <p style="font-size:2em;text-align: center;color:orange">Proposal</p>
            </header>
            <article>
                <center>
                    <table cellspacing="20">
                        <tr>
                            <td><img src="images/pro1.png" width="350px" height="350px"></td>
                            <td><img src="images/pro2.png" width="350px" height="350px"></td>
                        </tr>
                        <tr>
                            <td><img src="images/pro3.png" width="350px" height="350px"></td>
                            <td><img src="images/pro4.png" width="350px" height="350px"></td>
                        </tr>
                    </table>
                </center>
            </article>
        </div>
        <div>
            <header>
                <p style="font-size:2em;text-align: center;color:orange">User Stories</p>
            </header>
            <article>
                <center>
                    <table cellspacing="20">
                        <tr>
                            <td><img src="images/story1.png" width="400px" height="300px"></td>
                            <td><img src="images/story2.png" width="400px" height="300px"></td>
                        </tr>
                        <tr>
                            <td><img src="images/story3.png" width="400px" height="300px"></td>
                            <td><img src="images/story4.png" width="400px" height="300px"></td>
                        </tr>
                        <tr>
                            <td><img src="images/story5.png" width="400px" height="300px"></td>
                            <td><img src="images/story6.png" width="400px" height="300px"></td>
                        </tr>
                        <tr>
                            <td> <img src="images/story7.png" width="400px" height="300px"></td>
                            <td> <img src="images/story8.png" width="400px" height="300px"></td>
                        </tr>
                    </table>
                </center>
            </article>
        </div>
        <div>
            <header>
                <p style="font-size:2em;text-align: center;color:orange">Gitlab Repository Link</p>
            </header>
            <article>
                <center>
                    <p style="font-size: 1.2em"><a href="https://gitlab.com/5910613248/24preorder.git">https://gitlab.com/5910613248/24preorder.git</a></p>
                </center>
            </article>
        </div>
        <div>
            <header>
                <p style="font-size:2em;text-align: center;color:orange">Pivotal Tracker Link</p>
            </header>
            <article>
                <center>
                    <p style="font-size: 1.2em"><a href="https://www.pivotaltracker.com/projects/2407283">https://www.pivotaltracker.com/projects/2407283</a></p>
                </center>
            </article>
        </div>
    </div>
    <div class="site-footer">
        <p style="text-align: center">&copy; <b>2019 - CN340 SOFTWARE ENGINEERING</b></p>
    </div>
</div>