


    <div class="site-main">
        <div>
            <p id="notice"><%= notice %></p>

            <p>
              <strong>Email:</strong>
              <%= @user.email %>
            </p>
            
            <%= link_to 'Edit', edit_user_path(@user) %> |
            <%= link_to 'Back', root_path %>
            
        </div>
    </div>

