<div class="container-buy">
    <div class="site-header">
        <div class="site-logo">
            <%= link_to image_tag("logo.png",width:'250',height:'70'), home_path  %>
        </div>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <% if current_user %>
        <% else %>
        <div class="site-nav-3">
            <%= link_to "Sign Up", signup_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "Log In", login_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "About" , about_path %>
        </div>
        <% end %>
        <% if current_user%>
        <% if current_user.email == 'admin'%>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <div class="site-nav-3">
            <%= link_to "About" , about_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "Edit", edit_user_path(current_user) %>
        </div>
        <div class="site-nav-5">
            <%= link_to "Admin Order", orders_path %>
        </div>
        <div class="site-nav-6">
            <%= link_to "Log Out", logout_path %>
        </div>
        <% else %>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <div class="site-nav-3">
            <%= link_to "About" , about_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "User Order", userorder_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "Edit", edit_user_path(current_user) %>
        </div>
        <div class="site-nav-6">
            <%= link_to "Log Out", logout_path %>
        </div>
        <% end %>
        <% end %>
    </div>
    <div class="site-buy-form">
        <div class="site-payment-message">
            <p style="font-size:1.5em;">Select your payment method</p>
        </div>
        <div class="visa-logo">
            <%= radio_button_tag('credit-card','flase') %>
            <%= image_tag("visa-logo.png" , width:'80',height:'50')%>
        </div>
        <div class="mastercard-logo">
            <%= radio_button_tag('credit-card','flase') %>
            <%= image_tag("mastercard-logo.png" , width:'80',height:'50')%>
        </div>
        <div class="americanex-logo">
            <%= radio_button_tag('credit-card','flase') %>
            <%= image_tag("americanex-logo.png" , width:'80',height:'50')%>
        </div>
        <div class="paypal-logo">
            <%= radio_button_tag('credit-card','flase') %>
            <%= image_tag("paypal-logo.jpg" , width:'80',height:'50')%>
        </div>
        <div class="site-payment-method">
            <%= text_field_tag('text-card-no',nil , maxlength:16, placeholder:'Card Number') %>
            <%= text_field_tag('cvv',nil , maxlength:3 , size:5 , placeholder:'CVV') %>
            <%= render 'form', order: @order %>
        </div>
    </div>
    <div class="site-buy-footer">
        <p style="text-align: center">&copy; <b>2019 - CN340 SOFTWARE ENGINEERING</b></p>
    </div>
</div>