<div class="container-register">
    <div class="site-header">
        <div class="site-logo">
            <%= link_to image_tag("logo.png",width:'250',height:'70'), home_path  %>
        </div>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <% if current_user %>
        <% else %>
        <div class="site-nav-3">
            <%= link_to "Sign Up", signup_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "Log In", login_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "About" , about_path %>
        </div>
        <% end %>
        <% if current_user%>
        <% if current_user.email == 'admin'%>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <div class="site-nav-3">
            <%= link_to "About" , about_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "Edit", edit_user_path(current_user) %>
        </div>
        <div class="site-nav-5">
            <%= link_to "Admin Order", orders_path %>
        </div>
        <div class="site-nav-6">
            <%= link_to "Log Out", logout_path %>
        </div>
        <% else %>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <div class="site-nav-3">
            <%= link_to "About" , about_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "User Order", userorder_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "Edit", edit_user_path(current_user) %>
        </div>
        <div class="site-nav-6">
            <%= link_to "Log Out", logout_path %>
        </div>
        <% end %>
        <% end %>
    </div>
    <div class="site-register">
        <h1>Your Orders</h1>
        <table cellspacing="40">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Shoename</th>
                    <th>Address</th>
                    <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>
                <% @orders.each do |order| %>
                <tr>
                    <td>
                        <%= order.name %>
                    </td>
                    <td>
                        <%= order.shoename %>
                    </td>
                    <td>
                        <%= order.address %>
                    </td>
                    <td>
                        <%= link_to 'Show', order %>
                    </td>
                    <td>
                        <%= link_to 'Edit', edit_order_path(order) %>
                    </td>
                    <td>
                        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="site-login-footer">
        <p style="text-align: center;">&copy; 2019 - CN340 SOFTWARE ENGINEERING</p>
    </div>
</div>