<!-- Start Container-->
<div class="container-detail-logged">

    <!-- Start Header -->
    <div class="site-header">
        <div class="site-logo">
            <%= link_to image_tag("logo.png",width:'250',height:'70'), welcome_path  %>
        </div>
        <div class="site-nav-1">
            <%= link_to "Home", welcome_path %>
        </div>
        <div class="site-nav-2">
            <a href="#">Store</a>
        </div>
        <div class="site-nav-3">
            <%= link_to "Login", login_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "About", about_path %>
        </div>
    </div>
    <!-- End Header -->

    <!-- Start Images Content 1 -->
    <div class="site-images-1">
        <%= image_tag("hood3.jpg")%>
  

    </div>
    <!-- End Images Content 1 -->

    <!-- Start detail -->
    <div class="detail">
        <p>detail</p>
    </div>
    <!-- End detail -->

    <!-- Start Footer -->
    <div class="site-footer">
        <p style="text-align: center;">&copy; 2019 - CN340 SOFTWARE ENGINEERING</p>
    </div>
    <!-- End Footer -->
</div>
<!-- End Container-->