<!-- Start Container-->
<div class="container-detail-no-login">
    <div class="site-header">
        <div class="site-logo">
            <%= link_to image_tag("logo.png",width:'250',height:'70'), home_path  %>
        </div>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <% if current_user %>
        <% else %>
        <div class="site-nav-3">
            <%= link_to "Sign Up", signup_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "Log In", login_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "About" , about_path %>
        </div>
        <% end %>
        <% if current_user%>
        <% if current_user.email == 'admin'%>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <div class="site-nav-3">
            <%= link_to "About" , about_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "Edit", login_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "Admin Order", orders_path %>
        </div>
        <div class="site-nav-6">
            <%= link_to "Log Out", logout_path %>
        </div>
        <% else %>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        <div class="site-nav-3">
            <%= link_to "About" , about_path %>
        </div>
        <div class="site-nav-4">
            <%= link_to "User Order", userorder_path %>
        </div>
        <div class="site-nav-5">
            <%= link_to "Edit", edit_user_path(current_user) %>
        </div>
        <div class="site-nav-6">
            <%= link_to "Log Out", logout_path %>
        </div>
        <% end %>
        <% end %>
    </div>
    <!-- Start Images Content 1 -->
    <div class="site-images-1">
        <%= image_tag("hood1.jpg")%>
    </div>
    <!-- End Images Content 1 -->
    <!-- Start detail -->
    <div class="detail link-color">
        <p style="font-size: 2em">black chenille sweatshirt</p>
        <p style="font-size: 1.5em">Featuring romantic mottos that have become synonymous with the House, a Gucci "Maison de l'Amour" and "Sine Amore Nihil" embroidery decorates the front of this black chenille sweatshirt, designed with short sleeves and tonal acetate trims. Influences drawn from the sportswear and leisurewear worlds collide into an inherently Gucci style juxtaposing athletic inspired shapes with soft, refined fabrics.

        Black cotton chenille
        Black acetate trims
        Gucci "Maison de l'Amour" and "Sine Amore Nihil" embroidery
        Crewneck
        Short sleeves
        Knit rib trims
        85% cotton and 15% polyamide
        Made in Italy
        The model is 6' and is wearing size small</p>
        <% if current_user %>
        <%= link_to ">> Buy Now <<" , neworder_path %>
        <% else %>
        <%= link_to ">> Buy Now <<" , neworderfalse_path %>
        <% end %>
    </div>
    <!-- End detail -->
    <div class="site-footer">
        <p style="text-align: center">&copy; <b>2019 - CN340 SOFTWARE ENGINEERING</b></p>
    </div>
</div>
<!-- End Container-->