/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container-welcome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto auto auto auto auto 80px;
    grid-template-areas:
        "site-header"
        "site-images-1"
        "content1"
        "site-images-2"
        "content2"
        "site-images-3"
        "site-footer";
}

.site-header {
    grid-area: site-header;
    font-size: 1.2em;
    padding-left: 25%;
    padding-right: 25%;

    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px;
    grid-template-areas:
        "site-logo site-nav-1 site-nav-2 site-nav-3 site-nav-4 site-nav-5 site-nav-6";

    background-color: #d5212e;
}


.site-images-1 {
    grid-area: site-images-1;
    justify-self: center;
}

.detailimag1 a {
    color: red;

}

.detailimag2 a {
    color: red;

}

.site-images-2 {
    grid-area: site-images-2;
    justify-self: center;
    color: red;
}

.site-images-3 {
    grid-area: site-images-3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    color: red;
    grid-template-areas:
        "site-images-3-left site-images-3-right"

}

.content1 {
    grid-area: content1;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #c62121;
    color: white;

}

.content2 {
    grid-area: content2;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #8d0101;
    color: white;
}

.site-images-3-left {
    padding-top: 50px;
    grid-area: site-images-3-left;
    justify-self: center;
}

.site-images-3-right {
    padding-top: 50px;
    grid-area: site-images-3-right;
    justify-self: center;
}

.image3 {
    background-color: black
}

.site-logo {
    grid-area: site-logo;
    margin-top: 5px;

}

.site-nav-1 {
    grid-area: site-nav-1;
    justify-self: center;
    align-self: center;
}

.site-nav-2 {
    grid-area: site-nav-2;
    justify-self: center;
    align-self: center;
}

.site-nav-3 {
    grid-area: site-nav-3;
    justify-self: center;
    align-self: center;
}

.site-nav-4 {
    grid-area: site-nav-4;
    justify-self: center;
    align-self: center;
}

.site-nav-5 {
    grid-area: site-nav-5;
    justify-self: center;
    align-self: center;
}

.site-nav-6 {
    grid-area: site-nav-6;
    justify-self: center;
    align-self: center;
}

.site-footer {
    grid-area: site-footer;
    background-color: #680101;
    color: white;


}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FFCDD2;
}

.container-detail-no-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 700px 80px;
    grid-template-areas:
        "site-header"
        "site-images-1"
        "detail"
        "site-footer";
}

.container-about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 80px;
    grid-template-areas:
        "site-header"
        "site-about"
        "site-footer";
}

.site-about {
    grid-area: site-about;
}

.link-color a {
    color: red;
}

.container-login {
    display: grid;
    grid-template-rows: 80px 600px 80px;
    grid-template-areas:
        "site-header"
        "site-login"
        "site-login-footer"

}


.site-login {
    grid-area: site-login;
    justify-self: center;
    align-self: center;
}

.site-login-footer {
    grid-area: site-buy-footer;
    background-color: #680101;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    width: 100%;
}

.container-register {
    display: grid;
    grid-template-rows: 80px 600px 80px;
    grid-template-areas:
        "site-header"
        "site-register"
        "site-register-footer"
}

.site-register {
    grid-area: site-register;
    justify-self: center;
    align-self: center;
}

.site-register-footer {
    grid-area: site-buy-footer;
    background-color: #680101;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    width: 100%;
}

.detail {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10%;
}

.container-buy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px auto 80px;
    grid-template-areas:
        "site-header site-header"
        "site-buy-form site-buy-form"
        "site-buy-footer site-buy-footer";
}

.site-buy-image-detail {
    grid-area: site-buy-image-detail;
}

.site-buy-detail {
    grid-area: site-buy-detail;
}

.site-buy-form {
    grid-area: site-buy-form;
    padding-left: 35%;
    padding-right: 35%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px auto 150px;
    grid-template-areas:
        "site-payment-message site-payment-message site-payment-message site-payment-message"
        "visa-logo mastercard-logo americanex-logo paypal-logo"
        "site-payment-method site-payment-method site-payment-method site-payment-method"



}

.site-payment-message {
    grid-area: site-payment-message;
    text-align: center;

}

.visa-logo {
    grid-area: visa-logo;
}

.mastercard-logo {
    grid-area: mastercard-logo;
}

.americanex-logo {
    grid-area: americanex-logo;
}

.paypal-logo {
    grid-area: paypal-logo;
}

.site-payment-method {
    grid-area: site-payment-method;
    padding-top: 50px;
    justify-self: center;
}

.site-buy-footer {
    grid-area: site-buy-footer;
    background-color: #680101;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    width: 100%;
}